body {
    margin: 0;
    font-family: monospace;
}

/* Üst Bilgi */
.ustbilgi {
    height: 80px;
    background-color: #E1CEE0;
}

.ustbilgi label {
    float: left;
    margin: 30px 0 0 30px;
    font-size: large;
}

.ustbilgi a {
    margin: 30px 30px 0 0;
    float: right;
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

/* Detaylar */
.kitap_gorsel {
    float: left;
    margin: 50px 0 0 100px;
    height: 400px;
    width: 450px;
    box-shadow: 0 0 10px lightgray;
    border-radius: 15px;
}

#kitap_resmi {
    height: 400px;
    margin-left: 100px;
}

#favorile {
    position: absolute;
    transform: translate(40px, 10px);
    color: lightgray;
    border: none;
    background-color: white;
}

#favorile img {
    height: 30px;
}

.kitap_bilgiler {
    float: left;
    margin: 70px 0 0 150px;
    width: 500px;
    height: 380px;
}

.kitap_bilgiler label {
    display: block;
}

#kitap_adi {
    margin-top: 10px;
    font-size: xx-large;
    font-weight: bold;
}

#yazar {
    margin: 20px 0 50px 0;
}

#aciklama {
    height: 150px;
}

#okunacaklar_ekle {
    margin-right: 30px;
}

.kitap_bilgiler button {
    margin-top: 40px;
    width: 220px;
    height: 40px;
    font-size: medium;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.kitap_bilgiler button:hover {
    background-color: rgb(55, 54, 54);
}

/* Değerlendirmeler */
.degerlendirmeler {
    position: absolute;
    left: 100px;
    top: 590px;
    width: 450px;
    height: 400px;
}

.yildiz {
    border: none;
    background-color: white;
    transform: translate(0, 20px);
    margin-left: 0;
    padding: 0;
}

.heading {
    font-size: large;
    font-weight: bold;
    display: block;
}

#yorum_yap {
    margin-top: 40px;
    margin-left: 10px;
    resize: none;
    box-shadow: 0 0 15px 5px lightgray;
    border: none;
    border-radius: 10px;
}

#send_icon {
    height: 20px;
}

#gonder {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 30px;
    background-color: #E1CEE0;
    position: absolute;
    transform: translate(-35px, 100px);
}

#gonder:hover {
    background-color: #c294c0;
}

.yorum label{
    display: block;
    padding-left: 30px;
}

#yorum_isim {
    padding: 20px 0 10px 30px;
}

#yorum_puan {
    padding-bottom: 10px;
    height: 18px;
    margin-left: 25px;
}

.yorum {
    background-color: #E1CEE0;
    border-radius: 20px;
    height: 150px;
    margin-top: 30px;
    box-shadow: 0 0 5px gray;
}

/* Benzer Kitaplar */
.benzer_kitaplar {
    position: absolute;
    left: 700px;
    top: 590px;
    width: 500px;
    height: 400px;
}

.oneri {
    transform: translate(-10px, 0);
    margin-top: 30px;
    box-shadow: 0 0 15px 5px lightgray;
    border-radius: 20px;
    height: 150px;
}

#oneri_resmi {
    height: 150px;
    margin: 0 80px 0 50px;
}

.oneri label {
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    transform: translate(200px, -150px);
    width: 250px;
    height: 30px;
}

#oneri_ad {
    font-size:x-large;
    font-weight: bold;
}
